<ion-header>
  <ion-toolbar>
    <ion-title>password-confirm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="confirmForm" (ngSubmit)="confirm()">

    <div class="ion-item-error" padding>
      {{confirmForm.errors}}
    </div>

    <ion-list>

      <ion-item>
        <ion-label position="floating">New password</ion-label>
        <ion-input type="text" formControlName="password" autofocus></ion-input>
      </ion-item>

      <div padding>
        <p>Need to login? <a href="login">Login</a></p>
      </div>

    </ion-list>

    <ion-button  color="primary" fill="solid" size="default" (click)="confirm(); $event.preventDefault();">Confirm</ion-button>
  </form>
</ion-content>

